* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    text-align: center;
    padding: 28px 8%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 2px solid #5afff7; /* Borda verde */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    display: inline-block; /* Ajuste o comportamento para bordas e sombra */
    background-color: #a9eeff;
}
body {
    background-image: url(fundo01.jpg);
    background-position: initial;
    align-self: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
    background-color: #b4cbd1;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
    text-align: center;  
    width: 90%;
    margin: auto;
    position: relative;

}

.form-group label {
    display: flex;
    align-items: left;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.form-group input {
    height: 35px;
    border-radius: 15px;
    width: 100%;
    border: none;
}

.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

input[type="text"] {
    padding-left: 10px;
}

input[type="text"]::placeholder {
    padding-left: 5px;
}

input[type="password"] {
    padding-left: 10px;
}

input[type="password"]::placeholder {
    padding-left: 5px;
}


.form-group button {
    background-color: #5be3e7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    position: relative;
    top: -20px;
}

.form-group button:hover {
    background-color: #a3fcff;
    transform: translateY(-3px);
    color: #949494;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}